@model List<BookStore.Models.Genre>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/Genre/GenreIndex.css" />
</head>
<body>
    <div class="main">
        <a href="/Genre/GenreAdd?IsFromBook=false" class="btn btn-dark newGenreButton">New Genre</a>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Genre Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @{int index = 1; }
                @foreach (var item in Model)
                {

                    <tr>
                        <th scope="row">@index</th>
                        <td>@item.GenreName</td>
                        <td>@item.Status</td>
                        <td><a href="/Genre/GenreGet/@item.GenreId" class="btn btn-outline-primary">Update</a></td>
                        <td><a href="/Genre/GenreDelete/@item.GenreId" class="btn btn-outline-danger">Delete</a></td>
                    </tr>

                    index++;
                }

            </tbody>
        </table>
    </div>
</body>
</html>
