.form-group {
    margin: 30px 350px 100px 350px;
}

body {
    background: url(../../images/japanflowerestivals8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button {
    margin: 0px;
}


.form-group {
    margin-top: 100px;
}
