@model List<BookStore.Models.Book>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/Book/BookIndex.css?v=002" />
</head>
<body>
    <div class="main">
        <a href="/Book/BookAdd/" class="btn btn-dark newBookButton">New Book</a>
        @*@Html.Partial("BookList", Model);*@

        @await Component.InvokeAsync("BookList")
    </div>
</body>
</html>
