

body {
    background: url(../../images/water.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    margin: 70px 100px 100px;
}

.newWriterButton {
    margin: 15px 0px 10px 0px;
}
