@model BookStore.Dtos.CarouselDto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarouselGet</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/css/Carousel/CarouselGet.css?v=002">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <br />
    <br />
    <br />
    <script type="text/javascript">
        $(function () {
            $("#fileupload").change(function () {
                $("#dvPreview").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview").show();
                        $("#dvPreview").append("<img />");
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#dvPreview img").attr("src", e.target.result);
                            $("#dvPreview img").attr("style", "height:120px;width: 100px");
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                } else {
                    alert("Please upload a valid image file.");
                }
            });
        });
    </script>
    <form asp-action="CarouselUpdate" class="form">
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <input asp-for="CarouselId" hidden />
                    <label asp-for="Text" class="control-label"></label>
                    <input asp-for="Text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-dark button" />
        </div>
    </form>
</body>
</html>
