<div class="container">
    <div class="row">
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.3433279161095!2d49.84457691499832!3d40.37908276585281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307da7a06b402f%3A0xd8897cf79ec36111!2s28%20Mall!5e0!3m2!1str!2s!4v1635794383019!5m2!1str!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        </div>
        <div class="col-md-5">
            <p> <i class="fa-map-marker">Address : Mirzəağa Əliyev 245 . AFMall ticarət mərkəzinin yanı</i></p>
            <br />
            <p><i class="fa-phone">Phone Number : <a href="tel:+994703202045">+994703202045</a></i></p>
            <br />
            <p><i class="fa-envelope">Mail : <a href="mailto:info@bookzone.az">info@bookzone.az</a></i></p>
        </div>
    </div>
</div>
