<br />
<div class="banner">
    <div class="container">
        <form asp-controller="Shop" asp-action="Search">
            <div class="row">
                <div class="input-group mb-3">
                    <input type="text" class="form-control searchPanel" placeholder="Search Book,Writer or Genre" aria-label="Search Book,Writer or Genre" aria-describedby="basic-addon2" name="item">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br />

<h1 style="margin:50px;text-align:center">Result Not Find</h1>